:root {
    --bg-color: #f8fafc;
    --card-bg: #ffffff;
    --primary-color: #3b82f6;
    --text-main: #1e293b;
    --text-sub: #64748b;
    --border-color: #e2e8f0;
}
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #333;
}
a {
    display: inline-block;
}
body {
    background-color: #f5f5f5;
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    padding: 40px 20px;
    color: var(--text-main);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 2%;
}

header { 
    margin-bottom: 30px;
    padding-top: 50px;

}

.title-section {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 20px;
    
}
.title-section h1 span {
    color: #3b82f6;
}

h1 { font-size: 24px; margin: 0; }
.subtitle { 
    color: var(--text-sub);
     margin-top: 8px; 
     font-size: 14px; 
    margin-bottom: 50px;
    padding-left: 20px;
}

/* 검색창 */
.search-bar {
    background: #f1f5f9;
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.search-bar input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
}

/* 필터 탭 */
.filter-tabs {
    display: flex;
    gap: 10px;
    background: #f1f5f9;
    padding: 5px;
    border-radius: 10px;
}
.filter-tabs button {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-sub);
}
.filter-tabs button.active {
    background: #fff;
    color: var(--text-main);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/* 그리드 레이아웃 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

/* 카드 스타일 */
.card {
    background: var(--card-bg);
    border-radius: 12px;
    padding: 24px;
    border: 1px solid var(--border-color);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:hover { transform: translateY(-5px); 
    box-shadow: 5px 5px 20px rgba(0,0,0,0.07);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.type-tag { font-size: 12px; color: var(--text-sub); display: flex; align-items: center; gap: 6px; }
.date { font-size: 12px; color: #cbd5e1; }

.card-content h3 { font-size: 17px; margin: 0 0 8px 0; line-height: 1.4; }
.card-content p { font-size: 14px; color: var(--text-sub); margin: 0; line-height: 1.5; }

.card-footer { margin-top: 25px; }
.link-btn {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
