/* section01 */
#main #section01 .mainInfo {
    position: relative;
    height: 300px;
    width: 100%;
}
#main #section01 img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#main #section01 .textBox {
    padding: 16px;
    position: absolute;
    bottom: 0;
    align-content: center;
}
#main #section01 .textBox h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
#main #section01 .textBox p {
    font-size: 16px;
    color: #fff;
    text-align: justify;
    line-height: 24px;
    position: relative;
    z-index: 1;
}
#main #section01 .textBox .bg-color {
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* section02 */
#main #section02 form {
    text-align: center;
    padding: 16px;
}
#main #section02 form input[type="text"] {
    width: 100%;
    font-size: 20px;
    padding: 16px;
    background: #496583;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-bottom: 16px;
}
#main #section02 form input::placeholder {
    color: #f5f5f5;
}
#main #section02 form input[type="submit"] {
    width: 300px;
    font-size: 20px;
    padding: 16px;
    background: #42B883;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* section03 */
#main #section03 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    gap: 10px;
}
#main #section03 .sec03_info {
    display: grid;
    grid-template-rows: 275px auto;
    position: relative;
}
#main #section03 .sec03_info img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
#main #section03 .sec03_info .textBox {
    align-content: center;
    background: #496583;
    padding: 16px 8px;
    border-radius: 0 0 8px 8px;
}
#main #section03 .sec03_info .textBox span {
    color: #aaa;
    font-size: 14px;
}
#main #section03 .sec03_info .textBox h3 {
    color: #fff;
    padding-top: 5px;
}
#main #section03 .sec03_info .infoPoint {
    color: #fff;
    background: #42B883;
    display: inline-block;
    width: fit-content;
    padding: 10px 16px;
    position: absolute;
    top: 62%
}